<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>log in</title>
  </head>
  <body>
    <div class="login">
      <h1>Log in</h1>
      <ul>
        {% for massage in messages %}
        <li>{{massage}}</li>
        {% endfor %}
      </ul>
      <form method="POST" action="">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <a href="{% url 'new-user' %}" class="forgot">Register?</a>
        <button type="submit">submit</button>
      </form>
    </div>
  </body>
</html>
